streamlit
pandas
openai
faiss-cpu
python-dotenv
arxiv
PyPDF2
sentence-transformers
streamlit-authenticator
pyyaml
langchain==0.1.0  # Updated to the latest stable version
langchain_community==0.0.14  # Pinned to a specific version
langchain_openai
pypdf
chromadb==0.4.15  # Updated to the latest stable version
pysqlite3-binary>=0.4.6