streamlit
pandas
openai
faiss-cpu
python-dotenv
arxiv
PyPDF2
sentence-transformers
streamlit-authenticator
pyyaml
langchain==0.1.0
langchain_community==0.0.14
langchain_openai==0.1.0   # Pin this to a stable version if available
pypdf
chromadb==0.4.15
pysqlite3-binary>=0.4.6