streamlit
pandas
openai
faiss-cpu
python-dotenv
arxiv
PyPDF2
sentence-transformers
streamlit-authenticator
pyyaml
langchain==0.0.276
langchain_community
langchain_openai
pypdf
chromadb==0.4.8
pysqlite3-binary>=0.4.6